{
  "name": {{ project["name"] | tojson }},
  "version": {{ project["version"] | tojson }},
  "description": {{ project["description"] | tojson }},
  "keywords": [
    "mavlink",
    "telemetry"
  ],
  "frameworks": "*",
  "platforms": "*"
}